@model CIT280CRM.Models.InvoiceModels

@{
    ViewBag.Title = "Invoice Details";
}

<h2>Invoice Details</h2>

<div>
    <h4>Invoice for: @ViewBag.CompanyName | @Model.InvoiceDate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceStatus)
        </dd>

    </dl>

    <table class="table">
        <tr>
            <th>Product ID</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        @foreach (var item in ViewBag.LineItems)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
