@model CIT280CRM.Models.SaleItemModels
@using HtmlHelpers.BeginCollectionItem

<div>
    @using (Html.BeginCollectionItem("LineItems"))
    {
        <tr class="editorRow">
            <td>
                @Html.LabelFor(x => x.ProductID)
                @Html.EditorFor(x => x.ProductID)
            </td>
            <td>
                @Html.LabelFor(x => x.Quantity)
                @Html.EditorFor(x => x.Quantity)
            </td>
            <td>
                @Html.LabelFor(x => x.Price)
                @Html.EditorFor(x => x.Price)
            </td>
            <td>
                <a href="#" class="deleteRow btn">X</a>
            </td>
        </tr>
    }
</div>