@model CIT280CRM.Models.SaleItemModels
@using HtmlHelpers.BeginCollectionItem


    @using (Html.BeginCollectionItem("LineItems"))
    {
        <td style="display:table-cell">
            <select>
                @foreach (CIT280CRM.Models.ProductModels product in ViewBag.Products)
                {
                    if (product.ProductID == Model.ProductID)
                    {
                        <option id="Product_@product.ProductID" value="@product.ProductID" data-price="@product.Price" class="product-selected" selected>@product.Name</option>
                    }
                    else
                    {
                        <option id="Product_@product.ProductID" value="@product.ProductID" data-price="@product.Price" class="product-selected">@product.Name</option>
                    }

                }
            </select>
        </td>
        <td style="display:table-cell">
            @Html.EditorFor(x => x.Quantity, new { htmlAttributes = new { @class = "productQuantity", @min="0"} })
        </td>
        <td style="display:table-cell">
            @Html.EditorFor(x => x.Price, new { htmlAttributes = new { @class = "", @readonly="readonly" } })
        </td>
        <td style="display:table-cell">
            <a href="#" class="deleteRow btn-sm btn-danger">X</a>
        </td>
    }
